<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>

<div id="main-header">
  <div class="transparent_overlay_box header">
    <h4 id="voltage" style="display: inline;">Battery: --%</h4>
    <h4 id="charging" style="display: inline; padding-left: 2em;"></h4>
  </div>
</div>

<div id="logs" style="float: left">
<canvas id="log_display" class="rounded_canvas" width="500" height="500">
</canvas>
</div>

<div id="lidar" style="float: left; margin-left: 20px;">
<canvas id="lidar_display" class="rounded_canvas" width="500" height="500">
</canvas>
</div>

<div id="movement" style="overflow: hidden">
  <div class="rounded_div" align="center"
      style="overflow: hidden; margin-left: 20px; width: auto;">
    <h4>Movement</h4>
    <p id="enable_rc" style="color: #009933">Click here to enable RC.</p>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script src="static/main.js"></script>

</body>
</html>
